<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Lcaron</key>
    <dict>
      <key>public.kern2.T</key>
      <real>114.16666666666667</real>
      <key>public.kern2.W</key>
      <integer>110</integer>
      <key>public.kern2.Y</key>
      <real>115.83333333333333</real>
    </dict>
    <key>Lslash</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-70</integer>
      <key>public.kern2.W</key>
      <real>-74.16666666666667</real>
      <key>public.kern2.Y</key>
      <real>-98.33333333333333</real>
    </dict>
    <key>asterisk</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.J</key>
      <real>-190.83333333333334</real>
    </dict>
    <key>colon</key>
    <dict>
      <key>seven</key>
      <integer>-25</integer>
    </dict>
    <key>comma</key>
    <dict>
      <key>public.kern2.w</key>
      <real>-82.5</real>
    </dict>
    <key>hyphen</key>
    <dict>
      <key>seven</key>
      <real>-54.166666666666664</real>
    </dict>
    <key>l</key>
    <dict>
      <key>periodcentered</key>
      <real>-135.83333333333334</real>
    </dict>
    <key>periodcentered</key>
    <dict>
      <key>l</key>
      <real>-108.33333333333333</real>
    </dict>
    <key>plus</key>
    <dict>
      <key>seven</key>
      <real>-76.66666666666667</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>asterisk</key>
      <integer>-70</integer>
      <key>public.kern2.T</key>
      <real>-20.833333333333336</real>
      <key>public.kern2.W</key>
      <real>-37.5</real>
      <key>public.kern2.Y</key>
      <real>-51.666666666666664</real>
      <key>public.kern2.f</key>
      <integer>-30</integer>
      <key>public.kern2.quot</key>
      <real>-88.33333333333333</real>
      <key>public.kern2.w</key>
      <integer>-30</integer>
      <key>public.kern2.y</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-31.666666666666664</real>
      <key>public.kern2.AE</key>
      <real>-105.83333333333333</real>
      <key>public.kern2.J</key>
      <real>-141.66666666666666</real>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <real>-192.5</real>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <real>-28.333333333333336</real>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <real>-14.166666666666668</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>asterisk</key>
      <real>-108.33333333333333</real>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <real>-41.666666666666664</real>
      <key>public.kern2.W</key>
      <real>-48.333333333333336</real>
      <key>public.kern2.Y</key>
      <real>-72.5</real>
      <key>public.kern2.quot</key>
      <real>-142.5</real>
      <key>public.kern2.w</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.AE</key>
      <integer>-30</integer>
      <key>public.kern2.X</key>
      <real>-24.166666666666668</real>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-47.5</real>
      <key>public.kern2.AE</key>
      <real>-97.5</real>
      <key>public.kern2.J</key>
      <real>-134.16666666666666</real>
      <key>public.kern2.period</key>
      <real>-235.83333333333334</real>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-20.833333333333336</real>
      <key>public.kern2.AE</key>
      <real>-58.333333333333336</real>
      <key>public.kern2.J</key>
      <real>-54.166666666666664</real>
      <key>public.kern2.a</key>
      <real>-38.333333333333336</real>
      <key>public.kern2.o</key>
      <real>-38.333333333333336</real>
      <key>public.kern2.period</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.period</key>
      <real>-24.166666666666668</real>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-37.5</real>
      <key>public.kern2.AE</key>
      <real>-65.83333333333333</real>
      <key>public.kern2.J</key>
      <real>-64.16666666666667</real>
      <key>public.kern2.a</key>
      <real>-24.166666666666668</real>
      <key>public.kern2.o</key>
      <real>-24.166666666666668</real>
      <key>public.kern2.period</key>
      <real>-95.83333333333333</real>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-24.166666666666668</real>
      <key>public.kern2.o</key>
      <real>-28.333333333333336</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-51.666666666666664</real>
      <key>public.kern2.AE</key>
      <real>-104.16666666666667</real>
      <key>public.kern2.J</key>
      <real>-111.66666666666667</real>
      <key>public.kern2.a</key>
      <real>-34.166666666666664</real>
      <key>public.kern2.o</key>
      <real>-44.166666666666664</real>
      <key>public.kern2.period</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-32.5</real>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <real>-34.166666666666664</real>
    </dict>
    <key>public.kern1.caronalt</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-38.333333333333336</real>
      <key>public.kern2.o</key>
      <real>-44.166666666666664</real>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>comma</key>
      <real>-75.83333333333333</real>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <real>-24.166666666666668</real>
      <key>public.kern2.period</key>
      <real>-64.16666666666667</real>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-38.333333333333336</real>
      <key>public.kern2.W</key>
      <real>-24.166666666666668</real>
      <key>public.kern2.X</key>
      <real>-28.333333333333336</real>
      <key>public.kern2.Y</key>
      <real>-44.166666666666664</real>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>one</key>
      <real>-61.666666666666664</real>
      <key>public.kern2.T</key>
      <real>-54.166666666666664</real>
      <key>public.kern2.U</key>
      <real>-24.166666666666668</real>
      <key>public.kern2.W</key>
      <real>-91.66666666666667</real>
      <key>public.kern2.Y</key>
      <real>-115.83333333333333</real>
      <key>public.kern2.t</key>
      <real>-44.166666666666664</real>
      <key>public.kern2.w</key>
      <real>-105.83333333333333</real>
      <key>public.kern2.y</key>
      <real>-51.666666666666664</real>
      <key>seven</key>
      <real>-74.16666666666667</real>
      <key>slash</key>
      <real>105.83333333333333</real>
    </dict>
    <key>public.kern1.quot</key>
    <dict>
      <key>four</key>
      <integer>-90</integer>
      <key>public.kern2.A</key>
      <real>-76.66666666666667</real>
      <key>public.kern2.J</key>
      <integer>-215</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.period</key>
      <real>-132.5</real>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>comma</key>
      <real>-102.5</real>
      <key>public.kern2.period</key>
      <real>-108.33333333333333</real>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>comma</key>
      <real>-95.83333333333333</real>
      <key>public.kern2.period</key>
      <real>-107.5</real>
    </dict>
    <key>seven</key>
    <dict>
      <key>colon</key>
      <real>-16.666666666666668</real>
      <key>hyphen</key>
      <real>-54.166666666666664</real>
      <key>plus</key>
      <integer>-65</integer>
      <key>public.kern2.period</key>
      <real>-176.66666666666666</real>
      <key>slash</key>
      <integer>-80</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>public.kern2.period</key>
      <real>-219.16666666666666</real>
      <key>slash</key>
      <real>-213.33333333333334</real>
    </dict>
  </dict>
</plist>
