<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>I</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>0</integer>
    </dict>
    <key>Lcaron</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>110</integer>
      <key>public.kern2.W</key>
      <integer>110</integer>
      <key>public.kern2.Y</key>
      <integer>120</integer>
    </dict>
    <key>Lslash</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-70</integer>
      <key>public.kern2.W</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-90</integer>
    </dict>
    <key>asterisk</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.J</key>
      <integer>-220</integer>
    </dict>
    <key>comma</key>
    <dict>
      <key>public.kern2.w</key>
      <integer>-70</integer>
    </dict>
    <key>hyphen</key>
    <dict>
      <key>seven</key>
      <integer>-50</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>periodcentered</key>
      <integer>-140</integer>
    </dict>
    <key>periodcentered</key>
    <dict>
      <key>l</key>
      <integer>-100</integer>
    </dict>
    <key>plus</key>
    <dict>
      <key>seven</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>asterisk</key>
      <integer>-70</integer>
      <key>public.kern2.W</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.f</key>
      <integer>-30</integer>
      <key>public.kern2.quot</key>
      <integer>-80</integer>
      <key>public.kern2.w</key>
      <integer>-30</integer>
      <key>public.kern2.y</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.AE</key>
      <integer>-110</integer>
      <key>public.kern2.J</key>
      <integer>-150</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-180</integer>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>asterisk</key>
      <integer>-100</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.W</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.quot</key>
      <integer>-130</integer>
      <key>public.kern2.w</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.AE</key>
      <integer>-30</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.AE</key>
      <integer>-110</integer>
      <key>public.kern2.J</key>
      <integer>-130</integer>
      <key>public.kern2.period</key>
      <integer>-240</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.AE</key>
      <integer>-50</integer>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.AE</key>
      <integer>-70</integer>
      <key>public.kern2.J</key>
      <integer>-60</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.AE</key>
      <integer>-100</integer>
      <key>public.kern2.J</key>
      <integer>-120</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.caronalt</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>comma</key>
      <integer>-80</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>F</key>
      <integer>0</integer>
      <key>one</key>
      <integer>-70</integer>
      <key>public.kern2.J</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-100</integer>
      <key>public.kern2.Y</key>
      <integer>-120</integer>
      <key>public.kern2.t</key>
      <integer>-40</integer>
      <key>public.kern2.w</key>
      <integer>-110</integer>
      <key>public.kern2.y</key>
      <integer>-60</integer>
      <key>seven</key>
      <integer>-70</integer>
      <key>slash</key>
      <integer>110</integer>
    </dict>
    <key>public.kern1.quot</key>
    <dict>
      <key>four</key>
      <integer>-90</integer>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.J</key>
      <integer>-190</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>comma</key>
      <integer>-90</integer>
      <key>public.kern2.period</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>comma</key>
      <integer>-100</integer>
      <key>public.kern2.period</key>
      <integer>-120</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>hyphen</key>
      <integer>-50</integer>
      <key>plus</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-160</integer>
      <key>slash</key>
      <integer>-80</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-240</integer>
      <key>slash</key>
      <integer>-180</integer>
    </dict>
  </dict>
</plist>
